/*레이아웃*/
#wrap{background: #f8ecc9;}
#header{height:250px;background: #f8ecc9;}
#contents{background: #f8ecc9;position: relative; height:1000px;}
#footer{width:100%;height:120px;background: #f8ecc9;}

/*미림세끼 로고*/
.header-logo{text-align: left;padding-top:20px; padding-left:50px;float:left;}
.header-logo a{ background:url("../image/logo.png"); display:inline;}
.header-logo img{width:200px; height:120px;}

/*백그라운드*/
#header{position: relative;}
.header-logo img{width:300px;height:200px;left:600px;top:56px;position: absolute; z-index: 2;}
.header-img img{position:relative; width:100%;height:400px; z-index: 1; opacity: 0.2;}


/*헤더 메뉴*/
.header-menu{background: whitesmoke; height:100px; width:1000px;z-index: 2; position: absolute; left:50%; margin-left:-500px;}
.header-menu ul{float:left;text-align: center;margin-top:13px;margin-left:260px; margin-bottom: 15px;}
.header-menu ul li{list-style-type:none;display:inline;margin-left:50px; font-family: 'Do Hyeon', sans-serif;}
.header-menu ul a{display:inline-block;color:#2c3b00;font-size: 22pt;text-decoration: none; font-weight: bold;}
.header-menu ul a:hover{color:#2c3b00;font-size: 22pt;text-decoration:none;font-weight: bold;}
.header-menu hr{width:1000px; height:3px; background:#2c3b00; }
li #application{color:rgb(101, 126, 104);}

/*이름*/
.name_wrap{text-align: center; width:1000px;height: 600px;background:whitesmoke;z-index:3;border-radius: 30px; position: absolute; top:120px;left:50%; margin-left:-500px;}
.name_wrap .name{padding-top:50px;padding-bottom:30px;}
.name_wrap .name p{font-size: 22pt;}

/*체크박스*/
.checkbox{padding:10px;}
#meal1{width:30px;height: 30px;margin:5px;padding:5px;}
#meal2{width:30px;height: 30px;margin:5px;padding:5px}
#meal3{width:30px;height: 30px;margin:5px;padding:5px;}
.checkbox label{font-size: 18pt;position: relative;top:-8px;}
.checkbox span{margin:20px;}

/*공지사항*/
.notice{padding:10px;}
.notice ol{list-style-type:decimal;}

/*신청하기 버튼*/
#submit_btn{width: 100px;height: 40px;margin:20px;border-radius:20px;background:#2c3b00;color:white;font-size: 18px;}
