/*레이아웃*/
html{height:100%;}
#wrap{background:#f8ecc9; height:100%;}
#header{height:250px;background: #f8ecc9;}
#contents{background-color:#f8ecc9; position: relative;height:1500px;}
#footer{width:100%;height:120px;}


/*컨텐츠 레이아웃*/
#cont_date{width:100%;}
#cont_menu{}
#cont_cbox{}



/*백그라운드*/
#header{position: relative;}
.header-logo{width:100%; height:200px; position:absolute; top:56px; text-align: center; }
.header-logo img{width:300px;height:200px; position:absolute;z-index: 2; margin-left:-150px;}

/* .header-logo img{width:300px;height:200px;left:600px;top:56px;position: absolute; z-index: 2;} */
.header-img img{position:relative; width:100%;height:400px; z-index: 1; opacity: 0.2;}


/*헤더 메뉴*/

.header-menu{background: whitesmoke; height:100px; width:1000px;z-index: 2; position: absolute; left:50%; margin-left:-500px;}
.header-menu ul{float:left;text-align: center;margin-top:13px;margin-left:260px; margin-bottom: 15px;}
.header-menu ul li{list-style-type:none;display:inline;margin-left:50px;font-family: 'Do Hyeon', sans-serif; border-top:1px }
.header-menu ul a{display:inline-block;color:#2c3b00;font-size: 22pt;text-decoration: none; font-weight: bold;}
.header-menu ul a:hover{color:#2c3b00;font-size: 22pt;text-decoration:none;font-weight: bold;}
.header-menu hr{width:1000px; height:3px; background:#2c3b00; }
li #menu{color:rgb(101, 126, 104);}


.con_con{text-align: center; width:1000px;height: 1400px;background:whitesmoke;z-index:3;border-radius: 30px; position: absolute; top:120px;left:50%; margin-left:-500px;}
/*
.header-menu{background: whitesmoke; height:100px; width:1000px;z-index: 2; position: absolute; left:50%; margin-left:-500px;}
.header-menu ul{float:left;text-align: center;margin-top:13px;margin-left:260px; margin-bottom: 15px;}
.header-menu ul li{list-style-type:none;display:inline;margin-left:50px; font-family: 'Gaegu', cursive;}
.header-menu ul a{display:inline-block;color:#2c3b00;font-size: 22pt;text-decoration: none; font-weight: bold;}
.header-menu ul a:hover{color:#2c3b00;font-size: 22pt;text-decoration:none;font-weight: bold;}
.header-menu hr{width:1000px; height:3px; background:#2c3b00; }

.con_con{text-align: center; width:1000px;height: 1400px;background:whitesmoke;z-index:3;border-radius: 30px; position: absolute; top:120px;left:50%; margin-left:-500px;}
*/

/*날짜*/
.date {text-align: center;margin:30px; margin-top:40px;}
.date img{width: 30px;height: 30px;}
.date .today_date{font-size: 30px;}
.date .left_tri{margin-right:10px;}
.date .right_tri{margin-left:10px;}
.date .calendar_img{margin-left:10px;}

/*탭 메뉴*/
.tab_menu{text-align: center;width:90%;height:400px;margin:auto;position: relative;padding:10px;border-radius: 15px;}
.tab_menu ul{list-style-type: none;height:100%;margin-top:35px;}
.tab_menu ul li{padding:10px;}
.tab_menu ul li span{font-weight: normal;}
.tab_menu .hanggi{background: white;float:left;width: 30%;margin:10px 10px 10px 30px;border-radius: 15px; position: relative;}
.tab_menu .duggi{background: white;float:left;width: 30%;margin: 10px;border-radius: 15px; position: relative;}
.tab_menu .seggi{background: white;float:left;width: 30%;margin: 10px;border-radius: 15px; position: relative;}
.tab_menu .menu{background: white;border-radius: 15px;width:100%;}
.tab_menu span{margin:5px;font-size: 20px;font-weight: 700;}
.ggi_txt{padding:5px;margin:auto;height:40px;width:200px; line-height:40px;background:#f8ecc9; position: absolute; left:12%; top:-30px; border-radius: 10px; box-shadow:0px 5px 0px #dacda8;}

/*댓글박스*/
#cont_cbox .container{width:1000px;margin:auto;}
.cbox_head .cbox_head_inner{text-align:center;width:300px;margin:25px 0 20px 10px;}
.cbox_head .cbox_head_inner span{width:300px;font-size: 20px; }

#cbox_form{padding:15px;background: #fff;width:900px;margin:auto;border:1px solid #ccc;}
.cbox_write_wrap .cbox_write_inner{width: 900px;}

.cbox_profile_area{overflow:hidden;font-size: 12px;height:30px;padding-left:5px;width:1000px;}
.cbox_profile_area .cbox_name{float:left;padding-right: 15px;margin:5px;}
.cbox_profile_area .cbox_name .cbox_write_name{font-size: 18px;color:#000;font-weight: 700;white-space:nowrap;}
.cbox_profile_area .star_rating{float:left;}
.cbox_profile_area .star_rating .star_score{width: 80px;height: 15px;background:#777;background:url(../img/star_image.png) no-repeat;background-position: -0px -153px;margin-top:8px;}
.star_score{}

/*
.cbox_write_wrap{position: relative;}
.cbox_write_wrap .cbox_write_inner{position:  relative; background: #fff;border:1px solid #b3b3b3;}
.cbox_write_wrap .cbox_write_inner .cbox_profile_area{position: relative;height: 26px;padding:11px 82px 0 14px;background: #fff;}
.cbox_profile_area .cbox_name{display:block;overflow:hidden;position: absolute;top:11px;right:82px;bottom:0;left:15px;height:23px;text-overflow:ellipsis;}
.cbox_profile_area .cbox_name .cbox_write_name{font-size: 12px;color:#000;font-weight: 700;line-height:2.08;white-space:nowrap;}

.cbox_write_inner .cbox_write_area{width:100%;padding-bottom:8px;}
.cbox_write_inner .cbox_write_area .cbox_inbox{position: relative;padding:0 15px;background: #fff;}
.cbox_write_area .cbox_inbox .cbox_text{display:block;position: relative;overflow-x:hidden;overflow-y:auto;z-index:1;float:left;width:100%;height:56px;padding:6px 0 0;margin:0;padding-right:16px;border:none;color:#333;
    background: rgba(255,255,255,.001);font-size: 12px;line-height:18px;vertical-align:top;resize:none;box-sizing:border-box;}
.cbox_write_area .cbox_inbox .cbox_text_guide{display:inline;overflow:hidden;position: absolute;top:6px;right:25px;bottom:0;left:15px;z-index:10;border:none;font-size: 12px;line-height: 1.5;cursor: default;}
*/

.cbox_write_inner .cbox_upload_btn_area{height:43px;padding-right:68px;border-top:1px solid #ededed;position:relative;}
.cbox_write_inner .cbox_upload_btn_area .cbox_upload_btn{background: #2c3b00;border-color:#2c3b00;position: absolute;bottom:-1px;right:-1px;z-index:10;width:68px;height:45px;}
.cbox_write_inner .cbox_upload_btn_area .cbox_upload_btn .cbox_txt_upload{font-size: 13px;font-weight: 700;line-height:45px;color:#fff;}

/*여기까지 댓글 입력 부분*/

.cbox_content_wrap{margin:auto;width:900px;border:1px solid #ccc;padding:10px;margin-top:20px;margin-bottom: 20px;}
.cbox_list{}
.cbox_list ul{}
.cbox_list ul li{}
.cbox_list .list_name{margin:10px;}
.cbox_list .list_contents{margin:10px;}
.cbox_list .list_date{margin:10px;padding-bottom:5px;border-bottom: 1px solid #ccc;}

.cbox_more_view{overflow:hidden;width: 900px;margin:auto;}
.cbox_more_view .more_view{float:right;color:black;text-decoration: none;margin:10px;}


/*footer*/
#footer{background:#f8ecc9;}
#footer .address_wrap{margin:auto;position: relative;width:500px;border:1px solid #ccc;}
#footer address div{position: absolute;top:50px;left:100px;}

/*별점*/



